body {
    background: #eee;
    margin: 0 auto;
    max-width: 30em;
}

#clear-button {
    font-weight: bold;
}

#the-form {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

#the-form input[type="submit"] {
    font-weight: bold;
    margin-bottom: 1em;
}

.form-section {
    display: grid;
    grid-template-columns: 6fr 4fr;
    margin: .5em 0;
    row-gap: .1em;
}

#boolean-inputs {
    grid-template-columns: 9fr 1fr;
    row-gap: 0;
}
