@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    background: #eee;
    font-family: 'Rubik', sans-serif;
    margin: 0 auto;
    max-width: 30em;
}

#clear-button:hover {
    background: #f42c04;
}

#prediction {
    font-size: 1.35rem;
    font-weight: bold;
}

button, input {
    font-family: 'Rubik', sans-serif;
    font-size: .9rem;
}

button, input[type="submit"] {
    background: #f7f9fb;
    font-size: .9rem;
    padding: .2em .5em;
}

button:hover, input[type="submit"]:hover {
    background: #e3e3e3;
}

input[type="checkbox"] {
    accent-color: #c92403;
}

#clear-button {
    font-weight: bold;
}

#the-form {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

#the-form input[type="submit"] {
    font-weight: bold;
    margin-bottom: 1em;
}

.form-section {
    display: grid;
    grid-template-columns: 6fr 4fr;
    margin: .5em 0;
    row-gap: .1em;
}

#photo-preview {
    max-height: 5em;
    max-width: 12em;
}

#boolean-inputs {
    grid-template-columns: 9fr 1fr;
    row-gap: 0;
}
